//Header

#header{
    width: 100%;
    position: fixed;
    background-color: white;
    border-top: 17px solid #090909;
}

.cont{
    width: 960px;
    margin: 0 auto;
}

.logo{
    float: left;
}

.correo{
    color: #999898;
    font-size: 13px;
    position: relative;
    top: 18px;
    /*right: 0;*/
    left: 65%;
}
